{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% block content %}
<section class="content-card">
    <h1>Projects</h1>
    <h2>Finance</h2>
    <p>Equities & Fixed Income Monthly Statistics 2022-2024</p>
    <p>SIFMA Capital Market FactBook 2023</p>
    <h2>Coding</h2>
    <p>Personal Portfolio Website: This current web app, built with Python and Flask library hosted on AWS</p>
    <p>UMich Python 3 Programming (Coursera) recommendation system: Created a recommendation system</p>
    <p>UMich Python 3 Programming (Coursera) Image Manipulation: Created an image manipulation app with base Python and OCR tools</p>
    <p>UMich Python 3 Programming (Coursera) Joke Generator: made a pun generator matching words from movie titles to funniest jokes on the internet with the same word</p>
    <p>UMich Python 3 Programming (Coursera) Wordle-Like Game Solver: Created an application that combines image manipulation tool and string manipulation to solve Wordle-like puzzles</p>
</section>
{% endblock %}
